#Assignment 1

The assignment involves data collection and parsing with Python, and using the Pandas package to analyse the data. 

#### Assignment Guidelines:
1. Assignment is due by **21 March 2016** at the latest. This is a hard deadline.
2. Assignments should be written in this IPython Notebook, not as a script file.
3. Your notebook should include your Student ID Number and Full Name below.
4. Your notebook should be submitted via the Moodle page.
5. This is an individual assignment. Any evidence of plagiarism in an assignment will result in a 0 mark.

#### Assignment Data:
The data provides summary demographic details regarding a set of countries, described using the features below. Note that some values are missing for these features for different countries:
"population", "area", "birth_rate", "gdp_per_capita", "life_expectancy", "inflation_rate", "unemployment_rate", "continent"

This data available online in JSON format. Your personal dataset file is available at the URL:
http://mlg.ucd.ie/datasets/comp41680/countries/[STUDENT_NUMBER].json 

For example, if your student number is 126023491, your URL is:
http://mlg.ucd.ie/datasets/comp41680/countries/126023491.json

#### Assignment Tasks:

This assignment requires you to complete the following tasks in this notebook. Marks will also be awarded for explaining your work using text in Markdown cells.
1. Download your personal dataset file using Python code from the URL as per above (Note: not using a web browser).
2. Parse the JSON data from the dataset file, and write the raw data out as a comma-separated file *countries-raw.csv*.
3. Load the new file *countries-raw.csv* into a Pandas data frame.
4. Calculate summary statistics for the data frame.
5. Identify all features in the data which contain missing values.
6. For each feature containing missing values, replace the missing values with an estimate for that feature.
7. Identify a categorical feature which could be used to aggregate the data at a higher level. Summarise the data by grouping rows based on this feature.
8. Write out your final data frame as a comma-separated CSV file *countries-clean.csv*.
<hr>

Student Number: [15203181]

Name: [Jinghui Lu]

In [1]:
import urllib.request
import json
import pandas as pd

Import the pacakge

In [18]:
link = "http://mlg.ucd.ie/datasets/comp41680/countries/15203181.json"
try:
    response = urllib.request.urlopen(link)
    s = response.read().decode()
except:
    print("Failed to get data!!!!")

Download **Json** data from the specific link and add function to catch **exception.**

In [19]:
data = json.loads(s)

Translate Json data to python **List.**

In [4]:
countries = pd.DataFrame(data)

Change the object data from List to DataFrame type.

In [5]:
countries.to_csv("countries-raw.csv",index = False)

Output the data as a comma-seperated file countries-raw.csv

In [6]:
raw_countries = pd.read_csv("countries-raw.csv")

Load the new data from countries-raw.csv as a pandas data frame.

In [7]:
raw_countries.describe()

,area,birth_rate,gdp_per_capita,inflation_rate,life_expectancy,population,unemployment_rate
count,25.0000,25.000000,25.000000,24.000000,23.000000,25.000000,20.000000
mean,632255.6800,23.687600,9840.000000,4.837500,67.148261,11551382.520000,14.435000
std,1517661.1298,9.632835,13300.689205,4.803786,10.716516,10192479.815508,14.924592
min,300.0000,9.720000,400.000000,-0.500000,41.010000,68722.000000,1.200000
25%,41526.0000,15.080000,2300.000000,2.250000,62.370000,3563112.000000,5.975000
50%,185180.0000,23.760000,4800.000000,3.700000,70.030000,8857870.000000,9.800000
75%,587040.0000,29.950000,11000.000000,5.800000,74.600000,18448752.000000,15.600000
max,7686850.0000,41.660000,58900.000000,22.400000,80.390000,36766356.000000,60.000000

Calculate summary statistics for the data frame.

In [8]:
raw_countries.isnull().sum()

area                 0
birth_rate           0
continent            0
country              0
gdp_per_capita       0
inflation_rate       1
life_expectancy      2
population           0
unemployment_rate    5
dtype: int64

Identify all features in the data which contain missing values. We can find inflation_rate, life_expectancy and 
unemployment_rate has 1, 2 and 5 missing values respectively.

In [9]:
mean_inflation_rate = raw_countries["inflation_rate"].mean()
mean_life_expectancy = raw_countries["life_expectancy"].mean()
mean_unemployment_rate = raw_countries["unemployment_rate"].mean()

raw_countries["inflation_rate"] =raw_countries["inflation_rate"].fillna(mean_inflation_rate)
raw_countries["life_expectancy"] =raw_countries["life_expectancy"].fillna(mean_life_expectancy)
raw_countries["unemployment_rate"] =raw_countries["unemployment_rate"].fillna(mean_unemployment_rate)

raw_countries.isnull().sum()

area                 0
birth_rate           0
continent            0
country              0
gdp_per_capita       0
inflation_rate       0
life_expectancy      0
population           0
unemployment_rate    0
dtype: int64

For each feature containing missing values, replace the missing values with mean value for that feature. And we can find no value is null.

In [10]:
raw_countries

,area,birth_rate,continent,country,gdp_per_capita,inflation_rate,life_expectancy,population,unemployment_rate
0,131940,9.72,Europe,Greece,21300,2.9000,79.090000,10668354,10.000
1,406750,29.43,South America,Paraguay,4800,4.8375,74.890000,6347884,15.100
2,587040,41.66,Africa,Madagascar,800,7.5000,56.950000,18040341,14.435
3,28748,15.08,Europe,Albania,4900,3.2000,77.240000,3563112,14.800
4,41526,11.14,Europe,Netherlands,29500,1.4000,78.810000,16407491,6.000
5,93030,9.76,Europe,Hungary,14900,7.0000,72.400000,10006835,5.900
6,300,35.43,Burma,Maldives,3900,1.0000,64.060000,349106,14.435
7,488100,27.68,Burma,Turkmenistan,5700,9.0000,61.390000,4952081,60.000
8,15007,27.19,Burma,East Timor,400,4.0000,65.900000,1040880,50.000
9,7686850,12.26,Oceania,Australia,30700,2.3000,80.390000,20090437,5.100
10,945087,38.16,Africa,Tanzania,700,5.4000,45.240000,36766356,14.435
11,2586,12.06,Europe,Luxembourg,58900,2.4000,78.740000,468571,4.500
12,239460,23.97,Africa,Ghana,2300,13.0000,56.000000,21029853,20.000
13,462840,29.95,Oceania,Papua New Guinea,2200,4.2000,67.148261,5545268,14.435
14,431,12.83,North America,Barbados,16400,-0.5000,71.410000,279254,10.700
15,622984,35.17,Africa,Central African Republic,1100,3.6000,41.010000,3799897,8.000
16,443,17.26,North America,Antigua and Barbuda,11000,0.4000,71.900000,68722,11.000
17,86600,20.40,Europe,Azerbaijan,3800,4.6000,63.350000,7911974,1.200
18,108890,34.11,North America,Guatemala,4200,7.2000,65.140000,14655189,7.500
19,1285220,20.87,South America,Peru,5600,3.8000,69.530000,27925628,9.600
20,329750,23.07,Burma,Malaysia,9700,1.3000,72.240000,23953136,3.000
21,185180,28.29,Burma,Syria,3400,2.1000,70.030000,18448752,20.000
22,1098580,23.76,South America,Bolivia,2600,4.9000,67.148261,8857870,9.200
23,912050,18.91,South America,Venezuela,5800,22.4000,74.310000,25375281,17.100
24,47000,34.03,Asia,Bhutan,1400,3.0000,54.390000,2232291,14.435

Show the data again. According to the table, we can find country and continent is categorical value, but only
continent feature can be aggregated to get a higher level.

In [14]:
group = raw_countries.groupby("continent")
group.describe()

                               area  birth_rate  gdp_per_capita  \
continent
Africa        count        4.000000    4.000000        4.000000
              mean    598642.750000   34.740000     1225.000000
              std     288538.262347    7.654206      736.545993
              min     239460.000000   23.970000      700.000000
              25%     500145.000000   32.370000      775.000000
              50%     605012.000000   36.665000      950.000000
              75%     703509.750000   39.035000     1400.000000
              max     945087.000000   41.660000     2300.000000
Asia          count        1.000000    1.000000        1.000000
              mean     47000.000000   34.030000     1400.000000
              std               NaN         NaN             NaN
              min      47000.000000   34.030000     1400.000000
              25%      47000.000000   34.030000     1400.000000
              50%      47000.000000   34.030000     1400.000000
              75%      47000.000000   34.030000     1400.000000
              max      47000.000000   34.030000     1400.000000
Burma         count        5.000000    5.000000        5.000000
              mean    203667.400000   28.332000     4620.000000
              std     208621.401009    4.466578     3420.087718
              min        300.000000   23.070000      400.000000
              25%      15007.000000   27.190000     3400.000000
              50%     185180.000000   27.680000     3900.000000
              75%     329750.000000   28.290000     5700.000000
              max     488100.000000   35.430000     9700.000000
Europe        count        6.000000    6.000000        6.000000
              mean     64071.666667   13.026667    22216.666667
              std      47934.908489    4.115370    20455.455670
              min       2586.000000    9.720000     3800.000000
              25%      31942.500000   10.105000     7400.000000
              50%      64063.000000   11.600000    18100.000000
              75%      91422.500000   14.325000    27450.000000
              max     131940.000000   20.400000    58900.000000
North America count        3.000000    3.000000        3.000000
              mean     36588.000000   21.400000    10533.333333
              std      62615.369032   11.227836     6113.373319
              min        431.000000   12.830000     4200.000000
              25%        437.000000   15.045000     7600.000000
              50%        443.000000   17.260000    11000.000000
              75%      54666.500000   25.685000    13700.000000
              max     108890.000000   34.110000    16400.000000
Oceania       count        2.000000    2.000000        2.000000
              mean   4074845.000000   21.105000    16450.000000
              std    5108146.458359   12.508719    20152.543264
              min     462840.000000   12.260000     2200.000000
              25%    2268842.500000   16.682500     9325.000000
              50%    4074845.000000   21.105000    16450.000000
              75%    5880847.500000   25.527500    23575.000000
              max    7686850.000000   29.950000    30700.000000
South America count        4.000000    4.000000        4.000000
              mean    925650.000000   23.242500     4700.000000
              std     377993.624197    4.580840     1465.150732
              min     406750.000000   18.910000     2600.000000
              25%     785725.000000   20.380000     4250.000000
              50%    1005315.000000   22.315000     5200.000000
              75%    1145240.000000   25.177500     5650.000000
              max    1285220.000000   29.430000     5800.000000

                     inflation_rate  life_expectancy       population  \
continent
Africa        count        4.000000         4.000000         4.000000
              mean         7.375000        49.800000  19909111.750000
              std          4.074617         7.908228  13520624.352340
              min          3.600000        41.010000   3799897.000000
              25%          4.950000        44.182500  14480230.000000
              50%          6.450000        50.620000  19535097.000000
              75%          8.875000        56.237500  24963978.750000
              max         13.000000        56.950000  36766356.000000
Asia          count        1.000000         1.000000         1.000000
              mean         3.000000        54.390000   2232291.000000
              std               NaN              NaN              NaN
              min          3.000000        54.390000   2232291.000000
              25%          3.000000        54.390000   2232291.000000
              50%          3.000000        54.390000   2232291.000000
              75%          3.000000        54.390000   2232291.000000
              max          3.000000        54.390000   2232291.000000
Burma         count        5.000000         5.000000         5.000000
              mean         3.480000        66.724000   9748791.000000
              std          3.299545         4.404070  10777789.165545
              min          1.000000        61.390000    349106.000000
              25%          1.300000        64.060000   1040880.000000
              50%          2.100000        65.900000   4952081.000000
              75%          4.000000        70.030000  18448752.000000
              max          9.000000        72.240000  23953136.000000
Europe        count        6.000000         6.000000         6.000000
              mean         3.583333        74.938333   8171056.166667
              std          1.974251         6.208206   5622703.796430
              min          1.400000        63.350000    468571.000000
              25%          2.525000        73.610000   4650327.500000
              50%          3.050000        77.990000   8959404.500000
              75%          4.250000        78.792500  10502974.250000
              max          7.000000        79.090000  16407491.000000
North America count        3.000000         3.000000         3.000000
              mean         2.366667        69.483333   5001055.000000
              std          4.209909         3.769408   8361387.946880
              min         -0.500000        65.140000     68722.000000
              25%         -0.050000        68.275000    173988.000000
              50%          0.400000        71.410000    279254.000000
              75%          3.800000        71.655000   7467221.500000
              max          7.200000        71.900000  14655189.000000
Oceania       count        2.000000         2.000000         2.000000
              mean         3.250000        73.769130  12817852.500000
              std          1.343503         9.363324  10284987.633404
              min          2.300000        67.148261   5545268.000000
              25%          2.775000        70.458696   9181560.250000
              50%          3.250000        73.769130  12817852.500000
              75%          3.725000        77.079565  16454144.750000
              max          4.200000        80.390000  20090437.000000
South America count        4.000000         4.000000         4.000000
              mean         8.984375        71.469565  17126665.750000
              std          8.957965         3.750690  11093727.332579
              min          3.800000        67.148261   6347884.000000
              25%          4.578125        68.934565   8230373.500000
              50%          4.868750        71.920000  17116575.500000
              75%          9.275000        74.455000  26012867.750000
              max         22.400000        74.890000  27925628.000000

                     unemployment_rate
continent
Africa        count           4.000000
              mean           14.217500
              std             4.905413
              min             8.000000
              25%            12.826250
              50%            14.435000
              75%            15.826250
              max            20.000000
Asia          count           1.000000
              mean           14.435000
              std                  NaN
              min            14.435000
              25%            14.435000
              50%            14.435000
              75%            14.435000
              max            14.435000
Burma         count           5.000000
              mean           29.487000
              std            24.341083
              min             3.000000
              25%            14.435000
              50%            20.000000
              75%            50.000000
              max            60.000000
Europe        count           6.000000
              mean            7.066667
              std             4.731032
              min             1.200000
              25%             4.850000
              50%             5.950000
              75%             9.000000
              max            14.800000
North America count           3.000000
              mean            9.733333
              std             1.939931
              min             7.500000
              25%             9.100000
              50%            10.700000
              75%            10.850000
              max            11.000000
Oceania       count           2.000000
              mean            9.767500
              std             6.600842
              min             5.100000
              25%             7.433750
              50%             9.767500
              75%            12.101250
              max            14.435000
South America count           4.000000
              mean           12.750000
              std             3.956851
              min             9.200000
              25%             9.500000
              50%            12.350000
              75%            15.600000
              max            17.100000

Group data by continent so it can get a higher level and make a summary.

In [16]:
group.describe().to_csv("countries-clean.csv")

Write out the final data frame as a comma-separated CSV file countries-clean.csv.